@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.App {
  background-color: #dfe4ea;
  height: 45rem;

}

.App{
  font-family: 'Roboto', sans-serif;;
}

body{
  overflow-x: hidden;
}

.list{
  margin:2rem;
  padding: 5ex;
}

.list li{
  color: #dfe4ea;
  opacity: 0.8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: .5rem;
  font-size: 2ex;
}
